@tailwind base;
@tailwind components;
@tailwind utilities;

/* opcional: transições suaves ao alternar */
:root, .dark {
  color-scheme: light dark;
}
html { transition: background-color .3s, color .3s; }

